#content

	#header
		a( href='https://github.com/tjdev-de/dns-watch' )
			button.spaceleft: i( data-feather='github' )
		button: i( data-feather='globe' )
		button: i( data-feather='sun' )
		
	#title
		h1 dns-watch
			span .org
		span by 
			a( href='https://www.tjdev.de' ) tjdev.de

	#search
		#searchbar
			.buttonspacer
			input#dnswatch-search( type='text' placeholder='Search...' autofocus )
			button#dnswatch-search-submit: i( data-feather='search' )
			button#help( onclick='show_modal("search")' )
				i( data-feather='help-circle' )
		small Try "gnu.org", "wikipedia.org", "s.to" or your own website!
		#loadani
			#spinner
			span loading...
		#invaliddomain
			i( data-feather='x' )
			span invalid domain.

	#results

	#info
		h1 <i data-feather="server"></i> What is dns-watch.org?
		p
			| <b>dns-watch.org</b> is a service that allows you to see which (mainly
			| German) Internet Service Providers (ISPs) try to censor internet access
			| of their customers.<br>
			| The <a href="https://cuii.info">CUII</a>, which is a German institution
			| consisting of the biggest German ISPs and rightsholders, censors parts
			| of the Internet to reduce the number of copyright infringements in the
			| World Wide Web. In order to block these sites, they use the already
			| existing DNS provided by German ISPs. When your device asks your ISP
			| where it can find a website, it will give you wrong information and
			| instead redirect you to the page of CUII.<br>
			| Using dns-watch.org, you can check which ISPs actively censor parts of
			| the Internet. This tool can also help developers of blocked sites by
			| giving them information on which ISPs are blocking their web services.<br>
			| We support a Free Web without Internet censorship, and so should you!

		h1 <i data-feather="tool"></i> What can I do against it?
		p
			| If you happen to be affected by Internet censorship an you're still
			| using your ISP's default DNS settings, we provide resources that can
			| help you switch to a more trustworthy and most of the time even faster
			| DNS, thus regaining a Free Web without censorship! Read our
			| <a href="/tools">tutorial</a> on how to gain back your freedom in the
			| World Wide Web and circumvent DNS-blocking by ISPs!

		a.moreinfo( href='/why' ) More Information

#footer
	span dns-watch.org by 
	a( href='https://www.tjdev.de' ) tjdev.de
	span  | 
	a( href='/imprint' ) imprint

#modal
	#modal-content
		#modal-close( onclick='close_modal()' )
			i( data-feather='x' )
		#modal-message
