* {
  box-sizing: border-box !important;
}

html, body {
  background-color: #21252b;
  color: #d3d7de;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Inter", "Segoe UI", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scrollbar-color: #4d5765 #21252b !important;
}

input, button {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Inter", "Segoe UI", "Helvetica Neue", "Helvetica", sans-serif;
}

#content {
  min-height: calc(100vh - 9rem);
}

#header {
  height: 4rem;
  padding: 0.5rem;
  width: 100vw;
}
#header button {
  background-color: #21252b;
  border: none;
  border-radius: 0.5rem;
  color: #4c5666;
  cursor: pointer;
  float: right;
  height: 3rem;
  transition: all 0.3s ease;
  width: 3rem;
}
#header button:hover {
  background-color: #2c3139;
  color: #99a2b2;
}
#header button.spaceleft {
  margin-left: 1rem;
}

#title {
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-align: center;
}
#title h1 {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
#title h1 span {
  color: #4c5666;
}
#title span {
  color: #7c889c;
}
#title span a {
  color: #7c889c;
}

#search {
  text-align: center;
  margin-bottom: 5rem;
}
#search #searchbar .buttonspacer {
  display: inline-block;
  width: 3.5rem;
}
#search #searchbar input {
  background-color: #2c3139;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  color: #d3d7de;
  font-size: 1.5rem;
  font-weight: 300;
  height: 3rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  vertical-align: bottom;
}
#search #searchbar input:focus {
  background-color: #373e48;
  outline: none;
}
#search #searchbar button {
  border: none;
  cursor: pointer;
  height: 3rem;
  transition: all 0.3s ease;
  vertical-align: bottom;
  width: 3rem;
}
#search #searchbar button#dnswatch-search-submit {
  background-color: #373e48;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #7c889c;
}
#search #searchbar button#dnswatch-search-submit:hover {
  background-color: #424a56;
  color: #d3d7de;
}
#search #searchbar button#help {
  background-color: transparent;
  border-radius: 0.5rem;
  color: #4c5666;
  margin-left: 0.5rem;
}
#search #searchbar button#help:hover {
  background-color: #2c3139;
  color: #99a2b2;
}
#search small {
  display: block;
  margin-top: 1rem;
  color: #7c889c;
}
#search #loadani {
  display: none;
  margin-top: 1rem;
  visibility: hidden;
}
#search #loadani #spinner {
  animation: 1s linear infinite spinner;
  border: 2px solid transparent;
  border-bottom: 2px solid #61afef;
  border-radius: 0.5rem;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
#search #loadani span {
  color: #61afef;
  margin-left: 0.5rem;
}
#search #invaliddomain {
  color: #e06c75;
  display: none;
  margin-top: 1rem;
  visibility: hidden;
}
#search #invaliddomain .feather {
  vertical-align: -0.3rem;
}

#results small.random {
  color: #4c5666;
  display: block;
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}
#results small.random button {
  background: none;
  border: none;
  color: #626e83;
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
  text-decoration: underline;
}
#results table {
  margin-left: 25vw;
  width: 50vw;
}
#results table tr {
  height: 3rem;
}
#results table tr td.status {
  width: 3rem;
}
#results table tr td.status.check {
  color: #98c379;
}
#results table tr td.status.cross {
  color: #e06c75;
}
#results table tr td.status.ref {
  color: #61afef;
}
#results table tr td.status.offline {
  color: #d19a66;
}
#results table tr td.icon {
  border-left: solid transparent 2rem;
  width: 3rem;
}
#results table tr td.name small {
  color: #7c889c;
  margin-left: 1rem;
}
#results table tr td.desc {
  text-align: right;
}
#results table tr td.desc.blocked {
  color: #e06c75;
}
#results table tr td.desc.ref {
  color: #61afef;
}
#results table tr td.help {
  text-align: right;
  width: 3rem;
}
#results table tr td.help button {
  background-color: #21252b;
  border: none;
  border-radius: 0.5rem;
  color: #4c5666;
  cursor: pointer;
  height: 2rem;
  padding: 0.4rem;
  transition: all 0.3s ease;
  width: 2.1rem;
}
#results table tr td.help button:hover {
  background-color: #2c3139;
  color: #99a2b2;
}
#results table tr td.help button svg {
  height: 1.2rem;
  vertical-align: -0.2rem;
  width: 1.2rem;
}

#info {
  margin: 5rem auto;
  max-width: 50rem;
  width: 100vw;
}
#info h1 {
  color: #61afef;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 1rem;
  padding-top: 5rem;
}
#info h1 svg {
  vertical-align: -0.2rem;
  margin-right: 0.3rem;
}
#info p {
  line-height: 1.8rem;
}
#info p a {
  color: #61afef;
}
#info p b {
  color: #61afef;
}
#info p br {
  display: block;
  margin-top: 1.2rem;
}
#info a.moreinfo {
  color: #61afef;
  display: block;
  margin-top: 5rem;
  text-align: center;
}

#footer {
  color: #7c889c;
  height: 9rem;
  padding-top: 5rem;
  text-align: center;
}
#footer a {
  color: #7c889c;
}

#modal {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
#modal #modal-content {
  background-color: #21252b;
  border-radius: 0.5rem;
  color: #d3d7de;
  margin-left: 50%;
  margin-top: 25%;
  max-width: 30rem;
  padding: 2rem;
  transform: translate(-50%, -50%);
  width: 90%;
}
#modal #modal-content #modal-close {
  color: #4c5666;
  float: right;
  transition: all 0.3s ease;
}
#modal #modal-content #modal-close:hover, #modal #modal-content #modal-close:focus {
  color: #7c889c;
  cursor: pointer;
  text-decoration: none;
}
#modal #modal-content #modal-message {
  line-height: 1.8rem;
}
#modal #modal-content #modal-message a {
  color: #61afef;
  text-decoration: underline;
}
#modal #modal-content #modal-message b {
  color: #61afef;
}
#modal #modal-content #modal-message br {
  display: block;
  margin-top: 1.2rem;
}
#modal #modal-content #modal-message span {
  color: #7c889c;
}

.uncolored-svg {
  filter: invert(0.8);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
