#header
	button: i( data-feather='globe' )
	button: i( data-feather='sun' )
	
#title
	h1 dnswatch

#search
	#searchbar
		.buttonspacer
		input#dnswatch-search( type='text' placeholder='Search...' )
		button#dnswatch-search-submit: i( data-feather='search' )
		button#help: i( data-feather='help-circle' )
	small Try "gnu.org", "wikipedia.com", "s.to" or your own website!
	#loadani
		#spinner
		span loading...

#results
