#header
	button: i( data-feather='globe' )
	button: i( data-feather='sun' )
	
#title
	h1 dns-watch<span>.org</span>

#search
	#searchbar
		.buttonspacer
		input#dnswatch-search( type='text' placeholder='Search...' autofocus )
		button#dnswatch-search-submit: i( data-feather='search' )
		button#help: i( data-feather='help-circle' )
	small Try "gnu.org", "wikipedia.com", "s.to" or your own website!
	#loadani
		#spinner
		span loading...
	#invaliddomain
		i( data-feather='x' )
		span invalid domain.

#results
