#content

	#header
		a( href='https://github.com/tjdev-de/dns-watch' )
			button.spaceleft: i( data-feather='github' )
		button: i( data-feather='globe' )
		button: i( data-feather='sun' )
		
	#title
		h1 dns-watch
			span .org
		span by 
			a( href='https://www.tjdev.de' ) tjdev.de

	#search
		#searchbar
			.buttonspacer
			input#dnswatch-search( type='text' placeholder='Search...' autofocus )
			button#dnswatch-search-submit: i( data-feather='search' )
			button#help( onclick='show_modal("search")' )
				i( data-feather='help-circle' )
		small Try "gnu.org", "wikipedia.org", "s.to" or your own website!
		#loadani
			#spinner
			span loading...
		#invaliddomain
			i( data-feather='x' )
			span invalid domain.

	#results

#footer
	span dns-watch.org by 
	a( href='https://www.tjdev.de' ) tjdev.de
	span  | 
	a( href='/imprint' ) imprint

#modal
	#modal-content
		#modal-close( onclick='close_modal()' )
			i( data-feather='x' )
		#modal-message
